/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partial/style.scss */
body {
  background-color: black;
  height: 100vh;
  position: relative;
}
/* line 6, ../sass/partial/style.scss */
body #woo {
  position: absolute;
  height: 400px;
  width: 400px;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background-image: url("http://www.olgame.tw/lm/css/lmimg/gacha/card_aura_gray_180x180.png");
  background-repeat: no-repeat;
  background-size: cover;
  animation: woo 1s steps(29) infinite;
  text-align: center;
}
/* line 22, ../sass/partial/style.scss */
body #woo #frame {
  background-image: url("http://www.olgame.tw/lm/css/lmimg/gacha/card_slot_line_94x112.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 256px;
  width: 208px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translateX(-50%);
  animation-name: frame;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
/* line 39, ../sass/partial/style.scss */
body #woo #pop_shine {
  background-image: url("http://www.olgame.tw/lm/css/lmimg/gacha/card_shine2_106x123.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 256px;
  width: 208px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translateX(-50%);
  animation-name: pop_shine;
  animation-duration: 1s;
  animation-iteration-count: 1 !important;
}
/* line 56, ../sass/partial/style.scss */
body #woo #woo2 {
  background-image: url("http://www.olgame.tw/lm/css/lmimg/gacha/card_aura_gray_128x128.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translateX(-50%);
  animation: woo 1s steps(29) infinite;
}
/* line 72, ../sass/partial/style.scss */
body #woo #first-card {
  position: absolute;
  left: 51%;
  top: 27%;
  transform: translateX(-50%);
  height: 229px;
}
/* line 78, ../sass/partial/style.scss */
body #woo #first-card img {
  height: 100%;
}
/* line 83, ../sass/partial/style.scss */
body #woo #scroll {
  height: 229px;
  width: 187.76px;
  height: 229px;
  width: 187.76px;
  position: absolute;
  left: 54%;
  top: 27%;
  transform: translateX(-50%);
  overflow: hidden;
  padding: 0 10px;
}
/* line 95, ../sass/partial/style.scss */
body #woo #scroll ul {
  display: none;
  width: 6100px;
  height: 100%;
  margin-left: -139px;
}
/* line 100, ../sass/partial/style.scss */
body #woo #scroll ul > div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 229px;
  width: 187.76px;
  background-image: url("http://www.olgame.tw/lm/css/lmimg/gacha/card_slot_82x100.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 -3px;
}
/* line 110, ../sass/partial/style.scss */
body #woo #scroll ul > div img {
  justify-content: center;
  align-items: center;
}
/* line 115, ../sass/partial/style.scss */
body #woo #scroll ul > div:nth-child(5n+1) {
  background-position: 0;
}
/* line 118, ../sass/partial/style.scss */
body #woo #scroll ul > div:nth-child(5n+2) {
  background-position: -188px;
}
/* line 121, ../sass/partial/style.scss */
body #woo #scroll ul > div:nth-child(5n+3) {
  background-position: -374px;
}
/* line 124, ../sass/partial/style.scss */
body #woo #scroll ul > div:nth-child(5n+4) {
  background-position: -563px;
}
/* line 127, ../sass/partial/style.scss */
body #woo #scroll ul > div:nth-child(5n+5) {
  background-position: -750px;
}
/* line 133, ../sass/partial/style.scss */
body #woo button {
  background-image: url("http://www.olgame.tw/lm/css/lmimg/gacha/btn_blue_92x31.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  width: 350px;
  height: 42px;
  position: absolute;
  left: 50%;
  bottom: -30%;
  transform: translateX(-50%);
  color: white;
  font-size: 20px;
  background-color: black;
  border: none;
}

@keyframes woo {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
@keyframes frame {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pop_shine {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes button_bg_change {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
