/* line 1, ../../sass/partial/style.scss */
body {
  background-color: black;
  height: 100vh;
  position: relative;
}
/* line 6, ../../sass/partial/style.scss */
body #woo {
  position: absolute;
  height: 400px;
  width: 400px;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background-image: url("http://www.olgame.tw/lm/css/lmimg/gacha/card_aura_gray_180x180.png");
  background-repeat: no-repeat;
  background-size: cover;
  animation: woo 1s steps(29) infinite;
  text-align: center;
}
/* line 22, ../../sass/partial/style.scss */
body #woo #frame {
  background-image: url("http://www.olgame.tw/lm/css/lmimg/gacha/card_slot_line_94x112.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 256px;
  width: 208px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translateX(-50%);
  animation-name: frame;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
/* line 39, ../../sass/partial/style.scss */
body #woo #pop_shine {
  background-image: url("http://www.olgame.tw/lm/css/lmimg/gacha/card_shine2_106x123.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 256px;
  width: 208px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translateX(-50%);
  animation-name: pop_shine;
  animation-duration: 1s;
  animation-iteration-count: 1 !important;
}
/* line 56, ../../sass/partial/style.scss */
body #woo #woo2 {
  background-image: url("http://www.olgame.tw/lm/css/lmimg/gacha/card_aura_gray_128x128.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translateX(-50%);
  animation: woo 1s steps(29) infinite;
}
/* line 72, ../../sass/partial/style.scss */
body #woo #first-card {
  position: absolute;
  left: 51%;
  top: 27%;
  transform: translateX(-50%);
  height: 229px;
}
/* line 78, ../../sass/partial/style.scss */
body #woo #first-card img {
  height: 100%;
}
/* line 83, ../../sass/partial/style.scss */
body #woo #scroll {
  height: 229px;
  width: 187.76px;
  height: 229px;
  width: 187.76px;
  position: absolute;
  left: 54%;
  top: 27%;
  transform: translateX(-50%);
  overflow: hidden;
  padding: 0 10px;
}
/* line 95, ../../sass/partial/style.scss */
body #woo #scroll ul {
  display: none;
  width: 6100px;
  height: 100%;
  margin-left: -139px;
}
/* line 100, ../../sass/partial/style.scss */
body #woo #scroll ul > div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 229px;
  width: 187.76px;
  background-image: url("http://www.olgame.tw/lm/css/lmimg/gacha/card_slot_82x100.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 -3px;
}
/* line 110, ../../sass/partial/style.scss */
body #woo #scroll ul > div img {
  justify-content: center;
  align-items: center;
}
/* line 115, ../../sass/partial/style.scss */
body #woo #scroll ul > div:nth-child(5n+1) {
  background-position: 0;
}
/* line 118, ../../sass/partial/style.scss */
body #woo #scroll ul > div:nth-child(5n+2) {
  background-position: -188px;
}
/* line 121, ../../sass/partial/style.scss */
body #woo #scroll ul > div:nth-child(5n+3) {
  background-position: -374px;
}
/* line 124, ../../sass/partial/style.scss */
body #woo #scroll ul > div:nth-child(5n+4) {
  background-position: -563px;
}
/* line 127, ../../sass/partial/style.scss */
body #woo #scroll ul > div:nth-child(5n+5) {
  background-position: -750px;
}
/* line 133, ../../sass/partial/style.scss */
body #woo button {
  background-image: url("http://www.olgame.tw/lm/css/lmimg/gacha/btn_blue_92x31.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  width: 350px;
  height: 42px;
  position: absolute;
  left: 50%;
  bottom: -30%;
  transform: translateX(-50%);
  color: white;
  font-size: 20px;
  background-color: black;
  border: none;
}

@keyframes woo {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
@keyframes frame {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pop_shine {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes button_bg_change {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
