/* line 1, ../../sass/partial/style.scss */
body {
  background-color: black;
  height: 100vh;
}
/* line 6, ../../sass/partial/style.scss */
body #card-container {
  position: relative;
  height: 100vh;
}
/* line 10, ../../sass/partial/style.scss */
body #card-container #woo {
  background-image: url("http://www.olgame.tw/lm/css/lmimg/gacha/card_aura_gray_180x180.png"), url("http://www.olgame.tw/lm/css/lmimg/gacha/card_aura_gray_128x128.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 500px;
  animation: curt 1s steps(29) infinite;
  /*
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translateX(-50%);
  */
  height: 450px;
  width: 450px;
  overflow: hidden;
}
/* line 25, ../../sass/partial/style.scss */
body #card-container #woo #cover {
  width: 237px;
  margin-left: 100px;
  overflow: hidden;
}
/* line 29, ../../sass/partial/style.scss */
body #card-container #woo #cover #img {
  background-image: url("http://www.olgame.tw/lm/css/lmimg/gacha/card_back_82x100.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 11%;
  left: 51%;
  transform: translateX(-50%);
  height: 35%;
  width: 260px;
}
/* line 40, ../../sass/partial/style.scss */
body #card-container #woo #cover #card {
  background-image: url("http://www.olgame.tw/lm/css/lmimg/gacha/card_slot_line_94x112.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 40%;
  width: 267px;
  opacity: 1;
  animation: card 2s infinite;
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
}
/* line 54, ../../sass/partial/style.scss */
body #card-container #woo #cover #out {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: absolute;
  top: 11%;
  left: 51%;
  transform: translateX(-50%);
  height: 35%;
  width: 230px;
}
/* line 65, ../../sass/partial/style.scss */
body #card-container #woo #cover #out #item {
  overflow: hidden;
  display: none;
  width: 267px;
  height: 140px;
  margin-left: 20px;
  width: 900px;
  padding-top: 77px;
}
/* line 74, ../../sass/partial/style.scss */
body #card-container #woo #cover #out #item #people {
  animation: run 2s;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 78, ../../sass/partial/style.scss */
body #card-container #woo #cover #out #item #people > div {
  display: inline-block;
  width: 200px;
  text-align: center;
}
/* line 92, ../../sass/partial/style.scss */
body #card-container button {
  background-image: url("http://www.olgame.tw/lm/css/lmimg/gacha/btn_blue_92x31.png");
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 50px;
  width: 400px;
  top: 82%;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes curt {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
@keyframes card {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
@keyframes run {
  0% {margin-left: 0;}
  100% {margin-left: -1200px;}
}
*/
